<div class="comments">
  <p>コメント件数:<%= showbook.book_comments.count %></p>
  <% showbook.book_comments.each do |book_comment| %>
  <%= book_comment.user.name %>
  <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
</div>
<% if book_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true %>
  </div>
  <% end %>
<% end %>