<h1>Follower Users</h1>

<% if @users.size  == 0 %>
  <p><%= "ユーザーはいません" %></p>
<% else %>
 <table>
   <thead>
    <tr>
     <th>image</th>
     <th>name</th>
    </tr>
   </thead>
   <% @users.each do |user| %>
   <tbody>
    <tr>
     <!--投稿ユーザー画像-->
     <td>
      <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpg', fallback: "no_image.jpg" %>
     </td>
     <!--ユーザー名-->
     <td>
      <%= user.name %>
     </td>
     <!--フォロー数-->
     <td>
      <p><%= "フォロー数: #{user.follower.count}" %></p>
     </td>
     <!--フォロワー数-->
     <td>
      <p><%= "フォロワー数: #{user.followed.count}" %></p>
     </td>
     <!--show-->
     <td>
      <%= link_to "Show", user_path(user.id)  %>
     </td>
    </tr>
   </tbody>
   <% end %>
  </table>
<% end %>